.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 45px;
  font-size: 16px;
}

.input {
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #f9f9f9;
  outline: none;
  background-color: #f9f9f9;
  transition: border 0.25s ease;
  filter: drop-shadow(3px 1px 4px #222);
  font-size: 16px;
}

.input:hover {
  border: 1px solid #535bf2;
}

.input:focus {
  border: 1px solid #646cff;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  outline: none;
  background-color: #f9f9f9;
  cursor: pointer;
  filter: drop-shadow(3px 1px 4px #222);
  transition: border 0.25s ease;
}
.btn:hover {
  border: 1px solid #535bf2;
}
.btn:focus {
  border: 1px solid #646cff;
}
